body {
    font-family: Arial, sans-serif;
    margin: 20px;
    /* background: rgb(183, 30, 30); */

  }
  
  h1 {
   
    text-align: center;
    background: linear-gradient(to right, #f32170, #ff6b08,#a63bca, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color:coral;
    font-weight:bold;
  }
  
  .highlight {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
  }